<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- js -->
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script type='text/javascript' src='/javascripts/rainyday.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58665368-1', 'auto');
      ga('send', 'pageview');
    </script>
    <style type="text/css">
      html, body, div, img {
        font-family: helvetica;
        margin: 0px;
        padding: 0px;
      }
      body {
        overflow: hidden;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
      #sources {
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        z-index: 999;
      }
      #sources a {
        color: white;
      }
    </style>
  </head>
  <body onload="getData()">
    <img id="backgroundImage" src="/images/seattle.jpg"></img>
    <div id="sources">
      <div id="container" ></div>
      <div>Weather data from <a href="http://openweathermap.org/">Open Weather Map</a><div>
      <div>Rain drop animation from <a href="http://maroslaw.github.io/rainyday.js">rainyday.js</a></div>
    </div>
  </body>
</html>