<html>
  <head>
    <title><%= title %></title>
    <!-- css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- js -->
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </head>
  <body onload="getData()">
    <div id="container">
    </div>
    <div>Data from <a href="http://openweathermap.org/">Open Weather Map</a><div>
  </body>
</html>
